body{
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  background-color: #1e1e1e;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* border: 2px solid black;
  text-align: center;
  background-color: rgb(87, 95, 95);
  padding-bottom: 1.5rem; */
}
h1{
  margin-bottom: 20px;
  font-size: 24px;
}
.input-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: rgba(122, 149, 167, 0.716);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  outline:none;
}
input::placeholder{
  color: white;
  opacity: 0.7;
}
button{
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(7, 123, 224);
  color:#fff;
  transition: background-color 0.3s;
}
button:hover{
  background-color: #3700B3;
}
.Show_Data{
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  color: whitesmoke;
}
.same{
  font-size: large;
  border: solid 2px yellowgreen;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cityName{
  font-size: 1.5rem;
}
#weather-info{
  margin-top: 20px;
}
#error-message{
  margin-top: 20px;
  background-color: red;
}
.hidden{
  display: none;
}